<!-- wp:template-part {"slug":"header","tagName":"header","theme":"seniorbolaget-theme"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|2xl","bottom":"var:preset|spacing|2xl"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"var:preset|font-size|5xl","fontWeight":"700"},"spacing":{"margin":{"bottom":"var:preset|spacing|xl"}}}} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"seniorbolaget-theme"} /-->
